.googlefight-header {
	background-image: url('../images/bg_header.png'); 
	font-size: 2em; 
	text-align: center
}

.googlefight-body {
	background-color: white
}

.portrait-input {
	width: 400px
}

.landscape-input {
	width: 275px
}

.rowgroup-text {
	font-size: 1.1em;
	color: yellow;
}

.option-item {
	font-size: 15px; 
	color: black
}

.caption1 {
	width: 200px;
	text-align: left
}

.versus {
	color: red
}

.caption2 {
	width: 200px;
	text-align: right
}

.option-item-closebutton {
    color: white;
    background-color: blue
}

.fight-button {
	background-color: #585858;
	color: white; 
	width: 150px;
	height: 70px;
	margin-top: 10px;
	padding-top: 20px;
	font-family: "Helvetica Neue";
	font-size: 32px;
	font-style: oblique
}

.popup-option {
	width: 230px;
	height: 120px;
	padding-left: 10px;
	padding-right: 10px
}

.option-group {
	width: 200px;
	margin-top: 10px
}

.popup-header {
	font-size: 1.5em; 
	text-align: center;
	color: #3366FF
}

.failure-text {
	width: 320px;
	font-size: 0.8em; 
	text-align: justify
}

.center-toolbuttons {
	margin-right: 90px
}

.fight-list {
	padding-top: 20px; 
	padding-bottom: 20px
}

.fadedOut {
	opacity: 0;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 1s;
}

.fadeIn {
	opacity: 1;
}