.googlefight-header {
	background-image: url('../images/bg_header.png'); 
	font-size: 2em; 
	text-align: center
}

.googlefight-body {
	background-color: white
}

.rowgroup-text {
	font-size: 1.1em;
	color: yellow;
}

.option-item {
	font-size: 15px; 
	color: green
}

.popup-header {
	font-size: 2em; 
	text-align: center
}

.failure-text {
	width: 320px;
	font-size: 0.8em; 
	text-align: justify
}

.fight-list {
	padding-top: 20px; 
	padding-bottom: 20px
}

/* Add-on effects for popups. These css codes are taken from enyo examples */
.transitioner {
	-webkit-transform: scale(2);
	opacity: 0;
	-webkit-transition-property: opacity, -webkit-transform;
	-webkit-transition-duration: 0.3s;
}

.scaleFadeIn {
	-webkit-transform: scale(1);
	opacity: 1;
}

.fastAnimate {
}


.transitioner2 {
	-webkit-transform: scale(0);
	opacity: 0;
	-webkit-transition-property: opacity, -webkit-transform;
	-webkit-transition-duration: 1s, 1s;
}

.zoomFadeIn {
	-webkit-transform: scale(1);
	opacity: 1;
}


.fadedOut {
	opacity: 0;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 1s;
}

.fadeIn {
	opacity: 1;
}

.scrimFadeIn {
	opacity: 0.75;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 1s;
}

.transitioner3 {
	padding: 0px 5px 5px 5px;
	-webkit-transform: scale(0);
	-webkit-transform-origin: 50% 0;
	-webkit-transition-duration: 0.3s;
}

.scaleIn {
	-webkit-transform: scale(1);
}